<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://demofuncapp-bbduf7fdb2egc8d6.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4116346b-5ded-4f3b-8387-f8d055802adc/resourceGroups/rg-azuser6145_mml.local-ZJvcu/providers/Microsoft.Web/sites/DemoFuncApp</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://demofuncapp-bbduf7fdb2egc8d6.scm.centralindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>