<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://saurabhfunctionapp-abhjhrhqhkdbe3ay.centralindia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4116346b-5ded-4f3b-8387-f8d055802adc/resourceGroups/rg-azuser6136_mml.local-rTfTQ/providers/Microsoft.Web/sites/SaurabhFunctionApp</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://saurabhfunctionapp-abhjhrhqhkdbe3ay.scm.centralindia-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>